In [35]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

# Uppgift 0 - uppvärmning med riket
### I den här uppgiften ska du visualisera med hjälp av matplotlib och/eller seaborn
- a) Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena. Ändra kolumnnamnen på
respektive dataframe så du får något liknande som nedan

In [36]:
df_subjects = pd.read_excel("../data/labb_2/riket2023_åk9_np.xlsx", skiprows=8, sheet_name= [0,1,2,3])

df_svenska_andraspråk = pd.read_excel("../data/labb_2/riket2023_åk9_np.xlsx", skiprows=8, sheet_name= 3) # Imports the math sheet excel file  and skips 8 rows


df_svenska = pd.read_excel("../data/labb_2/riket2023_åk9_np.xlsx", skiprows=8, sheet_name= 2) # Imports the math sheet excel file  and skips 8 rows


df_engelska = pd.read_excel("../data/labb_2/riket2023_åk9_np.xlsx", skiprows=8, sheet_name= 0) # Imports the math sheet excel file  and skips 8 rows


df_matematik = pd.read_excel("../data/labb_2/riket2023_åk9_np.xlsx", skiprows=8, sheet_name= 1) # Imports the math sheet excel file  and skips 8 rows
df_matematik

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [37]:
df_matematik.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Riket            4 non-null      object
 1   Typ av huvudman  4 non-null      object
 2   Totalt           4 non-null      int64
 3   Flickor          4 non-null      int64
 4   Pojkar           4 non-null      int64
 5   Totalt           4 non-null      object
 6   Flickor          4 non-null      object
 7   Pojkar           4 non-null      object
 8   Totalt           4 non-null      float64
 9   Flickor          4 non-null      float64
 10  Pojkar           4 non-null      float64
dtypes: float64(3), int64(3), object(5)
memory usage: 484.0+ bytes

In [38]:
df_matematik.columns = [1,2,3,4,5,6,7,8,9,10,11]  # Ändrar kolumnerna till siffror pga multiple titles
df_matematik.head()

      1           2       3      4      5     6     7     8     9     10    11
0  Riket    Samtliga  106766  51548  55218  89.1  88.7  89.5  11.9  11.8  12.0
1  Riket    Kommunal   84163  40386  43777  88.1  87.7  88.5  11.6  11.5  11.7
2  Riket     Enskild   22553  11137  11416  92.9  92.2  93.5  13.0  12.8  13.1
3  Riket  Skolverket      50     25     25  ~100  ~100  ~100  14.1  13.5  14.7

In [39]:
df_matematik.columns = ["Riket", "Huvudman", "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)", "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)", "Totalt (Poäng)", "Flickor (Poäng)", "Pojkar (Poäng)"]
df_matematik

,Riket,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (Poäng),Flickor (Poäng),Pojkar (Poäng)
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [40]:
df_matematik.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Riket            4 non-null      object
 1   Huvudman         4 non-null      object
 2   Totalt (A-F)     4 non-null      int64
 3   Flickor (A-F)    4 non-null      int64
 4   Pojkar (A-F)     4 non-null      int64
 5   Totalt (A-E)     4 non-null      object
 6   Flickor (A-E)    4 non-null      object
 7   Pojkar (A-E)     4 non-null      object
 8   Totalt (Poäng)   4 non-null      float64
 9   Flickor (Poäng)  4 non-null      float64
 10  Pojkar (Poäng)   4 non-null      float64
dtypes: float64(3), int64(3), object(5)
memory usage: 484.0+ bytes

### b) Ta reda på antalet som fått F i matematik totalt, pojkar respektive flickor.

In [41]:
total_number_girls = 51548 
total_number_boys = 55218


percentage_f_grade = 11.3/100
boys_percentage_f_grade = 11.5/100  # gör om till decimal

girls_with_f_grade = round(total_number_girls*percentage_f_grade) #beräknar mängden tjejer som fick f
boys_with_f_grade = round(total_number_boys*boys_percentage_f_grade) #beräknar mängden killar som fick f

print("Total numbers of boys who recieved an F in mathematics at year 9 is:", girls_with_f_grade)
print("Total numbers of boys who recieved an F in mathematics at year 9 is:", boys_with_f_grade)

Total numbers of boys who recieved an F in mathematics at year 9 is: 5825
Total numbers of boys who recieved an F in mathematics at year 9 is: 6350

### c) Rita ett stapeldiagram på totala poängen för de olika ämnena

In [45]:
df_subjects

{0:    Riket Typ av huvudman  Totalt  Flickor  Pojkar  Totalt   Flickor   Pojkar   \
 0  Riket        Samtliga  106941    51864   55077     97.0      97.1     97.0
 1  Riket        Kommunal   84310    40675   43635     96.6      96.6     96.6
 2  Riket         Enskild   22582    11165   11417     98.7      98.8     98.7
 3  Riket      Skolverket      49       24      25    100.0     100.0    100.0

    Totalt    Flickor    Pojkar
 0      15.7       15.8      15.7
 1      15.4       15.5      15.4
 2      16.9       17.0      16.8
 3      18.5       18.9      18.2  ,
 1:    Riket Typ av huvudman  Totalt  Flickor  Pojkar Totalt  Flickor  Pojkar   \
 0  Riket        Samtliga  106766    51548   55218    89.1     88.7    89.5
 1  Riket        Kommunal   84163    40386   43777    88.1     87.7    88.5
 2  Riket         Enskild   22553    11137   11416    92.9     92.2    93.5
 3  Riket      Skolverket      50       25      25    ~100     ~100    ~100

    Totalt    Flickor    Pojkar
 0      11.9       11.8      12.0
 1      11.6       11.5      11.7
 2      13.0       12.8      13.1
 3      14.1       13.5      14.7  ,
 2:    Riket Typ av huvudman  Totalt  Flickor  Pojkar  Totalt   Flickor   Pojkar   \
 0  Riket        Samtliga   93225    45800   47425     96.1      97.9     94.4
 1  Riket        Kommunal   72771    35484   37287     95.7      97.6     93.8
 2  Riket         Enskild   20414    10297   10117     97.6      98.7     96.6
 3  Riket      Skolverket      40       19      21    100.0     100.0    100.0

    Totalt    Flickor    Pojkar
 0      13.6       14.5      12.7
 1      13.3       14.3      12.4
 2      14.4       15.2      13.5
 3      15.0       15.9      14.2  ,
 3:    Riket Typ av huvudman Totalt Flickor Pojkar Totalt  Flickor  Pojkar   \
 0  Riket        Samtliga  14092    6447   7645    77.7     81.6    74.3
 1  Riket        Kommunal  11963    5495   6468    75.9       80    72.4
 2  Riket         Enskild   2122     949   1173    87.7     90.9    85.2
 3  Riket      Skolverket     ..      ..     ..      ..       ..      ..

   Totalt   Flickor   Pojkar
 0      9.4      10.2      8.7
 1        9       9.9      8.3
 2     11.1        12     10.4
 3       ..        ..       ..  }

In [64]:

for key in df_subjects:
    df_subjects[key].columns = [
         "Riket",
         "Huvudman",
         "Totalt (A-F)",
         "Flickor (A-F)",
         "Pojkar (A-F)",
         "Totalt (A-E)",
         "Flickor (A-E)",
         "Pojkar (A-E)",
         "Totalt (Poäng)",
         "Flickor (Poäng)",
         "Pojkar (Poäng)",
    ]
   

df_subjects[3].head()

,Riket,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (Poäng),Flickor (Poäng),Pojkar (Poäng)
0,Riket,Samtliga,14092,6447,7645,77.7,81.6,74.3,9.4,10.2,8.7
1,Riket,Kommunal,11963,5495,6468,75.9,80,72.4,9,9.9,8.3
2,Riket,Enskild,2122,949,1173,87.7,90.9,85.2,11.1,12,10.4
3,Riket,Skolverket,..,..,..,..,..,..,..,..,..