In [4]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

# Uppgift 0 - uppvärmning med riket
### I den här uppgiften ska du visualisera med hjälp av matplotlib och/eller seaborn
- a) Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena. Ändra kolumnnamnen på
respektive dataframe så du får något liknande som nedan

In [14]:
df1 = pd.read_excel("../data/labb_2/riket2023_åk9_np.xlsx", skiprows= 8) # Imports excel file and skips 8 rows
df1

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      5 non-null      object
 1   Unnamed: 1                      5 non-null      object
 2   Antal elever med provbetyg A-F  5 non-null      object
 3   Unnamed: 3                      5 non-null      object
 4   Unnamed: 4                      5 non-null      object
 5   Andel (%) med provbetyg A-E     5 non-null      object
 6   Unnamed: 6                      5 non-null      object
 7   Unnamed: 7                      5 non-null      object
 8   Genomsnittlig betygspoäng       5 non-null      object
 9   Unnamed: 9                      5 non-null      object
 10  Unnamed: 10                     5 non-null      object
dtypes: object(11)
memory usage: 572.0+ bytes