# Exercise 0
## 0. Pythagorean theorem (*)
  a)   A right angled triangle has the catheti: a = 3 and b = 4 length units. Compute the hypothenuse of the triangle. (*)

  b)   A right angled triangle has hypothenuse c = 7.0 and a cathetus a = 5.0 length units. Compute the other cathetus and round to one decimal. (*)

A

In [79]:
import math

a = 3
b = 4
c = math.sqrt(a**2 + b**2)
print(f"the lenght of the hypothenues is {c}")

the lenght of the hypothenues is 5.0

B

In [80]:
import math

c= 7.0
a = 5.0
b = math.sqrt(c**2 - a**2)
# round avrundar till en decimal
print(f"The lenght on the b cathesus is {round(b,1)}")

The lenght on the b cathesus is 4.9

# Exercise 1
## 2. Classification accuracy
A machine learning algorithm has been trained to predict whether or not it would rain the next day. Out of 365 predictions, it got 300 correct, compute the accuracy of this model.

In [81]:
import math

# guesses
predictions = 365

# corect guess
correct_guess = 300
# delen genom hela (%)
accuracy = (correct_guess /predictions ) * 100 # * 100 to get it as a procentage

print(f" the machine learning algorith had accuracy of {round(accuracy,1)} %")

 the machine learning algorith had accuracy of 82.2 %

# 3. Classification accuracy
## A machine learning model has been trained to detect fire. Here is the result of its predictions:
True Positive (TP)
Reality: fire
Predicted: fire
Number of TP: 2

False Positive (FP)
Reality: no fire
Predicted: fire
Number of FP: 2

False Negative (FN)
Reality: fire
Predicted: no fire
Number of FN: 11

True Negative (TN)
Reality: no fire
Predicted: no fire
Number of TN: 985

In [82]:
import math 

TP = 2
FP = 2
FN = 11
TN =  985

accuracy = ((TP + TN) / (TP+TN+FP+FN)) * 100

accuracy

98.7

# 4. Line
## Compute the slope "k" and the constant term "m" of this line using the points and.
## A: (4,4) and B: (0,1)
## version 1

In [83]:
import math

point_A = 4,4
Point_B = 0,1
Slope_K = ((1-4)/(0-4))
slope_M = (4-3)



print(f"m värdet: {slope_M} K-värdet: {Slope_K}")

m värdet: 1 K-värdet: 0.75

## Version 2

In [84]:
x1, y1 = 4, 4
x2, y2 = 0, 1

delta_y = y2 - y1
delta_x = x2 - x1

k = delta_y / delta_x 

m = y1 - k * x1

print("lutningskonstanten (k): ", k)
print("lutningstermen (m): ", m)

lutningskonstanten (k):  0.75
lutningstermen (m):  1.0

##Version 3 (nya punkter)

In [85]:
import math

x1, y1 = 3, 8
x2, y2 = 7,6
delta_y = y2 - y1
delta_x = x2 - x1

k = delta_y / delta_x

m = y1 - k * x1

print("lutningskonstanten (k): ", k)
print("lutningstermen (m): ", m)

lutningskonstanten (k):  -0.5
lutningstermen (m):  9.5

# If statments

# Check in

Ask the user to input a number and check if this number is positive, negative or zero and print it out.

In [86]:
number = int(input("Enter a number: "))
if number == 0:
    print("Thats a neutral number")
if number >=1:
    print("thats a positive number")
else:
    print("thats a negative number")

thats a positive number

# smallest
Ask the user to input two numbers and check which one is the smallest and print it out.

In [87]:
a = input("enter a number")
b = input("enter a number")
if a > b: 
    print(f"{a} is greater than {b}")
if b > a:
    print(f"{b} is greater than {a}")
else:
    print("your numbers are eaqual")

your numbers are eaqual

# Right angle
Ask the user to input three angles and check if the triangle has a right angle. Your code should make sure that all three angles are valid and make up a triangle.

In [88]:
def valid_triangle(angle1, angle2, angle3):
    if angle1 <= 0 or angle2 <= 0 or angle3 <= 0:
        return False
    if angle1 + angle2 + angle3 != 180:  # kollar om vinkelsumman blir 180 grader
        return False
    return True

def got_right_angle(angle1, angle2, angle3):
    return angle1 == 90 or angle2 == 90 or angle3 == 90 # kollar om det finns rätvinkel på vinklarna

def main():        
    angle1 = float(input("enter a number of an angle"))
    angle2 = float(input("enter a number of an angle"))
    angle3 = float(input("enter a number of an angle"))

    if valid_triangle(angle1, angle2, angle3):
        print("this is a valid triangle")

        if got_right_angle(angle1, angle2, angle3):
            print("the triangle has a right angle")
        else:
            print("triangle does not have a right angle")
    else:
        print("this does not form a valid triangle")


if __name__ == "__main__":
    main()

this does not form a valid triangle

# Medicine
The information in the following table is stated in a medicine package. Also it is stated that for children weight is more important than age.
- Adults & adolescent
over 40 kg	over 12 years	1-2 pills

- Children 26-40 kg	7-12 years	1/2-1 pills
- Children 15-25 kg	3-7 years	1/2 pills

Let the user input an age and a weight, the program should recommend the number of pills for the user.

In [89]:
Age = int(input("Enter your age"))
Weight = int(input("Eter your weight"))

if Age >= 12 and Weight >= 40:
    print("your considered an adult, we recommend 1-2 pills")
if Age <= 3 and Weight <=26:
    print("your young, we recommend 1/2 - 1 pill")
else:
    print("1/2 pill is recommended")

1/2 pill is recommended

# divisible
Let the user input a number. Check if the number is

- even or odd
- is divisible by 5
- is divisble by 5 and odd

In [90]:
def odd_number(number):
    return number % 2 == 1

def divisble_5 (number):
    return number % 5 == 0

def odd_divisible_5(number):
    return number % 2 == 1 and number % 5 == 0

number = int(input("enter a number"))
if odd_number(number):
    print(f"{number} is odd")
if divisble_5(number):
    print(f"{number} is divisible by 5")
else:
    print(number, "is not divisible by 5")

if odd_divisible_5(number):
    print(number, "is both odd and divisible by 5")

23 is odd
23 is not divisible by 5

1

# Luggage size
The maximum allowed luggage size for boarding an airplane is:

- weight: 8kg
- dimensions: 55x40x23cm (length x width x height)

Let the user input weight, length, width and height of the luggage. The program should check if the luggage is allowed or not.

In [91]:
weight = int(input("Enter the weight of your bag"))
lenght = int(input("enter the lenght of the bag"))
width = int(input("enter the width of the bag"))
height = int(input ("enter the height of the bag"))

if (weight >= 8 and lenght >= 55) or (width >= 40 and height >=23):
    print("your bag is too big")
else:
    print("your bag is in good shape")

your bag is in good shape

# Count numbers
- Use a while statement to count from -10 to 10 with one increment.

In [92]:
i = -10
while i < 11:
  print(i)
  if (i == 10):
    break
  i += 1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

# arithmetic sum
- Use a while statement to compute the following sums:

  a)   sum = 1 + 2 +...+ 99 + 100

  b)   sum = 1 + 3 + 5...+ 97 + 99

In [93]:
sum = 0
i = 1

while i <= 100:
    sum += i
    i += 1
print("the sum of the numbers 1 - 100 is: ", sum )

the sum of the numbers 1 - 100 is:  5050

In [94]:
sum = 0 
i = 1

while i <= 99: 
    sum += i 
    i += 2
print("the sum is: ", sum)

the sum is:  2500

# guess the number

-   a)   Create a guessing number game following this flow chart:
-  b)   Make an algorithm to automatically guess the correct number. Can you optimize to get as few guesses as possible? (**)

# Data-Processing
## 0. Creat this data frame from scratch 

Kolla pandas basics!

Kommun	Population
- 0	Malmö	347949
- 1	Stockholm	975551
- 2	Uppsala	233839
- 3	Göteborg	583056

a) Use your DataFrame to print out all the cities. (*)

  b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

  c) Sort the cities by population from largest to smallest. (*)

  d) Filter out the three largest cities. (*)

  e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [95]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(
    {"Kommun": ["Malmö", "Stockholm", "Uppsala", "Göteborg"], "Population": [347939, 97551, 233839, 583056]

    }
)

df1

      Kommun  Population
0      Malmö      347939
1  Stockholm       97551
2    Uppsala      233839
3   Göteborg      583056

###  b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

In [96]:
df1[df1["Kommun"] == "Göteborg"]

     Kommun  Population
3  Göteborg      583056

### c) sort the cities, largest to smallest

In [97]:
df1["Population"].sort_values(ascending=False)

3    583056
0    347939
2    233839
1     97551
Name: Population, dtype: int64

### d) three largest cities

In [98]:
top3_cities = df1["Population"].sort_values(ascending=False).iloc[:3] #iloc to lock the limit by 3
top3_cities.head()

3    583056
0    347939
2    233839
Name: Population, dtype: int64

### e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [99]:
df2 = pd.DataFrame(
    {"Kommun": ["Malmö", "Stockholm", "Uppsala", "Göteborg"], 
     "Population": [347939, 97551, 233839, 583056]
    }
)

sweden_population = 10000000
df2 ["Population %"] = round((df2["Population"] / sweden_population) * 100, 2) #räknar ut procenten av populationen/ kommun

df2

      Kommun  Population  Population %
0      Malmö      347939          3.48
1  Stockholm       97551          0.98
2    Uppsala      233839          2.34
3   Göteborg      583056          5.83

# 1. Cities in Sweden - real dataset (*)
### Download the file komtopp50_2020.xlsx from the course github repo. The data is taken from SCB.

  a) Read in the tab "Totalt" into a DataFrame and start exploring the data with some simple explorations such as

- df.head()
- df.info()
- df.describe()
Feel free to do more explorations. (*)

  b) Clean your data so that the head looks like this: (*)

In [125]:
import pandas as pd
df_1 = pd.read_excel("../data/komtopp50_2020.xlsx", skiprows= 6)


df_1

    2020  2019    Unnamed: 2  2020.1  2019.1  Unnamed: 5
0      1     1     Stockholm  975551  974073        1478
1      2     2      Göteborg  583056  579281        3775
2      3     3         Malmö  347949  344166        3783
3      4     4       Uppsala  233839  230767        3072
4      5     5     Linköping  164616  163051        1565
5      6     6        Örebro  156381  155696         685
6      7     7      Västerås  155551  154049        1502
7      8     8   Helsingborg  149280  147734        1546
8      9     9    Norrköping  143478  143171         307
9     10    10     Jönköping  142427  141081        1346
10    11    11          Umeå  130224  128901        1323
11    12    12          Lund  125941  124935        1006
12    13    13         Borås  113714  113179         535
13    14    14      Huddinge  113234  112848         386
14    15    15    Eskilstuna  106975  106859         116
15    16    16         Nacka  106505  105189        1316
16    17    17      Halmstad  103754  102767         987
17    18    18         Gävle  102904  102418         486
18    19    20    Södertälje  100111   98979        1132
19    20    19     Sundsvall   99439   99449         -10
20    21    22         Växjö   94859   94129         730
21    22    21      Botkyrka   94847   94606         241
22    23    23      Karlstad   94828   93898         930
23    24    24       Haninge   93690   92095        1595
24    25    25  Kristianstad   86217   85747         470
25    26    26    Kungsbacka   84930   84395         535
26    27    27         Solna   83162   82429         733
27    28    28      Järfälla   81274   79990        1284
28    29    29         Luleå   78549   78105         444
29    30    30    Sollentuna   73990   73857         133
30    31    31    Skellefteå   72840   72589         251
31    32    32          Täby   72755   71874         881
32    33    33        Kalmar   70329   69467         862
33    34    34       Mölndal   69901   69364         537
34    35    35    Karlskrona   66515   66622        -107
35    36    36       Varberg   65397   64601         796
36    37    37     Östersund   63985   63779         206
37    38    38     Norrtälje   63673   62622        1051
38    39    39       Gotland   60124   59686         438
39    40    40         Falun   59528   59406         122
40    41    41   Trollhättan   59249   59058         191
41    42    43      Nyköping   57071   56591         480
42    43    44        Skövde   56791   56366         425
43    44    42     Uddevalla   56787   56703          84
44    45    45  Örnsköldsvik   55807   55998        -191
45    46    47    Sundbyberg   52801   52414         387
46    47    46      Borlänge   52394   52590        -196
47    48    48    Hässleholm   52010   52145        -135
48    49    49       Sigtuna   49537   48964         573
49    50    50        Tyresö   48678   48333         345

In [126]:
df_1.info() #need to convert from object to float or int. cant count with object  USE RENAME

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2020        50 non-null     int64
 1   2019        50 non-null     int64
 2   Unnamed: 2  50 non-null     object
 3   2020.1      50 non-null     int64
 4   2019.1      50 non-null     int64
 5   Unnamed: 5  50 non-null     int64
dtypes: int64(5), object(1)
memory usage: 2.5+ KB

In [127]:
df_1 = df_1.rename({2020: "Rang 2020", 2019: "Rang 2019", "Unnamed: 2": "Kommun", "2020.1": "Folkmängd 2020", "2019.1": "Folkmängd 2019", "Unnamed: 5": "Förändring"}, axis="columns")

df_1.head()

   Rang 2020  Rang 2019     Kommun  Folkmängd 2020  Folkmängd 2019  Förändring
0          1          1  Stockholm          975551          974073        1478
1          2          2   Göteborg          583056          579281        3775
2          3          3      Malmö          347949          344166        3783
3          4          4    Uppsala          233839          230767        3072
4          5          5  Linköping          164616          163051        1565

  c) Sort the cities by population from largest to smallest. (*)

In [135]:
df_1_large_To_Small = df_1["Folkmängd 2020"].sort_values(ascending=False).head()
print(df_1_large_To_Small)

0    975551
1    583056
2    347949
3    233839
4    164616
Name: Folkmängd 2020, dtype: int64